---
import Layout from '@layouts/Default.astro';

import PostCard from '@components/cards/PostCard.astro';

const posts = await Astro.glob('./*.md').then(items => items.filter((post) => !post.frontmatter.draft));
posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
---

<Layout title="Blog | Nebula">
    <h1 class="text-5xl font-bold mb-6">Blog</h1>
    {posts.map(post => {if (post.url) return <PostCard title={post.frontmatter.title} description={post.frontmatter.description} url={post.url} date={post.frontmatter.date} content={post.rawContent.toString()} />})}
</Layout>
