---
const { frontmatter } = Astro.props;

import '@styles/global.css';

import Meta from '@components/misc/Meta.astro';
import Header from '@components/elements/Header.astro';
import Footer from '@components/elements/Footer.astro';
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-200 dark:bg-gray-950 text-black dark:text-white scrollbar scrollbar-thumb-gray-400 dark:scrollbar-thumb-gray-900">
    <head>
        <Meta title={`${frontmatter.title} | Nebula's Blog`} description={frontmatter.description} />
    </head>

    <body class="p-[50px]">
        <Header />
        
        <main>
            <h1 class="text-5xl font-bold">{frontmatter.title}</h1>
            <div class="mt-5 flex flex-row items-center">
                <p>
                    Written by
                    <a
                        class="focus:outline-none transition duration-300 ease-in-out hover:text-indigo-900 dark:hover:text-indigo-200"
                        href={`https://twitter.com/${frontmatter.twitter}`}
                        rel="noopener noreferrer"
                        target="_blank"
                    >
                        {frontmatter.author}
                    </a>
                    • published on {frontmatter.date.slice(0, 10)}
                </p>
            </div>

            <article class="max-w-none w-full mt-8 prose prose-lg dark:prose-dark" id="postContent"><slot /></article>
        </main>

        <Footer />
    </body>
</html>
